################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoUserManual/FileContentIndex/121a7b6b-a890-473b-ba3c-bfffa6ca0bf5.vsidx
/.vs/AutoUserManual/FileContentIndex
